img,
video {
  width: 100%;

  height: auto;

  display: block;
}

img {
  border: 5px solid #f20732;
}
body {
  background-color: #3e3940;
}

/* Min main med grid------------------------- */

main {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1200px) 1fr;
}

main section {
  grid-column: 2/3;
}

/* Her starter header---------------------- */

@media (min-width: 400px) {
  header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    flex-direction: row;
  }
}
header nav ul {
  display: flex;
  padding: 20px;
  overflow-x: auto;
  background-color: #5d5d5d;
  list-style-type: none;
}

li a {
  font-family: "poppins", sans-serif;
  font-size: 2rem;
  text-decoration: none;
  color: black;
}

/* Mit splash/forside billede og h1 tekst--------------- */
@media (min-width: 400px) {
  #first_section {
    grid-column: 1/4;
    aspect-ratio: 16/9;
    padding-bottom: 40px;
  }
}
.forside {
  display: grid;

  place-items: center;
}

.forside img,
h1 {
  grid-area: 1/1;
}

h1 {
  font-family: "bebas neue", sans-serif;
  font-size: 150px;
  background-color: #5d5d5d;
  padding-left: 8px;
  padding-right: 8px;
}

@media (min-width: 200px) {
  .pictures {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    padding-bottom: 40px;
  }

  .img3 {
    display: grid;
    place-content: end right;
  }
}
