img,
video {
  width: 100%;

  height: auto;

  display: block;
}

body {
  background-color: #3e3940;
}

/* Min main med grid----------------------------------------------------------- */

main {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1200px) 1fr;
}

main section {
  grid-column: 2/3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Her starter header med navbar--------------------------------------------------- */

@media (min-width: 480px) {
  header {
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    flex-direction: row;
  }
}

header nav ul {
  display: flex;
  padding: 10px 90px 10px 90px;
  overflow-x: auto;
  background-color: #5d5d5d;
  opacity: 75%;
  list-style-type: none;
  gap: 60px;
  border-radius: 25px;
  width: fit-content;
}

li a {
  font-family: "poppins", sans-serif;
  font-weight: 700;
  /* font-size: 2.5vw; */
  text-decoration: none;
  color: black;
}

/* hover effekt på tekst i nav--------- */
a:hover {
  color: #980d12;
}

a {
  font-size: 1rem;
}

/* media for at gøre nav-tekst responsiv-------- */
@media (min-width: 800px) {
  a {
    font-size: 2rem;
  }
}

/* 1. section-------------Mit splash/forside billede og h1 tekst-------------------------------- */

@media (min-width: 480px) {
  #first_section {
    grid-column: 1/4;
    aspect-ratio: 16/9;
    padding-bottom: 40px;
  }
}
.forside {
  display: grid;

  place-items: center;
}

.forside img,
h1 {
  grid-area: 1/1;
}

h1 {
  font-family: "bebas neue", sans-serif;

  background-color: #5d5d5d;
  padding-left: 8px;
  padding-right: 8px;
  box-shadow: 15px 12px #980d12;
}
/* Media for responsive tekst------------- */

@media (min-width: 990px) {
  h1 {
    font-size: 6rem;
  }
}

/* 2. section billeder og citater------------------------------------------------------- */

@media (min-width: 400px) {
  /* #second_section {
    grid-column: 1/4;
    aspect-ratio: 16/9;
    padding-bottom: 40px;
    background-color: #5d5d5d;
  } */

  .pictures {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    padding: 20px;
  }

  .img2 {
    grid-column: 2/3;
    grid-row: 1/3;
  }

  #second_section img {
    box-shadow: 15px 15px #980d12;
  }

  p {
    font-family: "poppins", sans-serif;
    font-style: italic;
    color: #fff;
    font-size: 0.9rem;
  }
}
/* 3. section ---------video--------------------------------------------------------------- */

video {
  padding: 20px;
}

/* video {
  box-shadow: 10px 10px #980d12;
} */

/* 4. section ---- youtube video iframe-------------------------------------------------------- */

.iframe-wrapper {
  position: relative;

  width: 100%;

  height: 0;

  padding-top: 56.25%;
}

iframe {
  position: absolute;

  inset: 0;

  height: 100%;

  width: 100%;

  padding: 20px;

  overflow: hidden;
}
